@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@500;700&display=swap');
$primary-harry: #215e99;
$primary-hermione: #ec552f;
$primary-luna: #fbefec;
$primary-hagrid: #000000;
$secondary-dobby: #ffffff;
$secondary-ron: #fff7ed;
$secondary-severus: #7f8e9d;
$secondary-voldemort: #c7cad9;
$secondary-draco: #4ca484;

@font-face {
  font-family: 'Avenir-Regular';
  src: url(../assets/fonts/Metropolis-Regular.otf);
}

@font-face {
  font-family: 'Avenir-Book';
  src: url(../assets/fonts/AvenirLTStd-Book.otf);
}

@font-face {
  font-family: 'Avenir-Roman';
  src: url(../assets/fonts/AvenirLTStd-Roman.otf);
}

a {
  text-decoration: none;
}

h4 {
  color: $primary-hermione;
  font-size: calc(0.4em + 1vw);
  margin: 0 0 0.5rem;
}

h5 {
  font-family: 'Avenir-Regular';
  font-weight: 400;
  color: $primary-hermione;
  margin: 0;
  font-size: calc(0.73em + 0.1vw);
  line-height: 1.5rem;
}

p {
  font-size: calc(0.01em + 0.9vw);
}

hr {
  background-color: $primary-harry;
  width: 36%;
  height: 0.7vh;
  border-radius: 100px;
  margin-bottom: 0.4em;
}

.container-phone {
  max-width: 100vw;
  height: 100vh;
  max-height: 100vh;
  padding: 0 1.5rem;
}

.btn {
  width: 100%;
  border-radius: 4px;
}

.btn-primary-desktop {
  height: 2.5rem;
  background-color: $primary-harry;
  color: $secondary-dobby;
  border: none;
  font-size: 0.7em;
  cursor: pointer;
}

// Contenedor de bienvenida en desktop
.container-welcome {
  height: auto;
  background-color: #fbefec;
  padding-left: 4em;

  .logo {
    padding-top: 4rem;
    margin: 0;

    .logo-BePositive {
      width: 13rem;
      height: 5.188rem;
    }
  }

  .welcome-text {
    width: 91%;
    position: relative;

    .vector-happy {
      margin: 0;

      h2 {
        font-family: 'Mulish', sans-serif;
        color: #215e99;
        font-size: 2em;
        line-height: 1.3em;
        margin-bottom: 0;
        position: absolute;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      img {
        padding-left: 230px;
        padding-top: 87px;
        position: relative;
      }
    }
  }
}

.container-approved-registration {
  z-index: 1;
  position: absolute;
  background: $secondary-draco;
  color: $secondary-dobby;
  width: 100%;
}

.form-control:focus-within {
  outline: 1px solid $primary-harry;
  -moz-outline-radius: 25px;
  color: $secondary-severus;
}

#password {
  border: none;
  outline: none;
  font-size: calc(0.01em + 0.9vw);
  width: 80%;
}

#container-password {
  padding: 0 0.8rem 0;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: center;
  .icon-password {
    font-size: 1.5em;
  }
}

.container-networks {
  margin-top: 0.7rem;

  .btn-open-networks {
    background-color: $secondary-dobby;
    color: $primary-harry;
    border: 0.7px solid $primary-harry;
    font-family: 'Avenir-Roman';
    font-size: 0.8em;
    height: 2.9em;
  }
}
