@use 'base';

@media screen and (max-width: 800px) and (min-width: 320px) {
  .container-home-desktop {
    display: none !important;
  }
  .container-home-phone {
    display: block !important;
  }

  .container-signIn-phone {
    display: block !important;
  }

  .container-signUp {
    display: none !important;
  }
  .container-phone-signUp {
    display: block !important;
  }
}
