//Estilo para el form en phone
%formPhone {
  .title {
    font-family: 'Avenir-Roman';
    font-weight: 600;
    font-size: calc(0.81em + 1vw);
    margin: 0.5vh 0 4vh;
  }
  .form-seccion {
    .label {
      font-family: 'Avenir-Roman';
      font-weight: 500;
      font-size: 0.75rem;
      color: base.$primary-harry;
      margin-top: 1rem;
      margin-bottom: 0.8rem;
    }

    .form-control {
      display: flex;
      color: base.$secondary-severus;
      border: 0.7px solid base.$secondary-voldemort;
      box-sizing: border-box;
      border-radius: 4px;
      width: 100%;
      height: 6.6vh;
      font-size: 0.8rem;
      padding-left: 0.8rem;

      .form-input {
        font-family: 'Avenir-Book';
        font-size: 0.8rem;
        border: none;
        outline: none;
        width: 80%;
      }

      #password {
        font-family: 'Avenir-Book';
        font-size: 0.8rem;
      }
    }
  }
  .container-forgot-password {
    display: flex;
    justify-content: flex-end;
    p {
      color: base.$primary-harry;
      font-family: 'Avenir-Roman';
      font-weight: 500;
      margin-top: 1rem;
      margin-bottom: 3.5vh;
      font-size: 0.75rem;
    }
  }
}

//Inicio phone
.container-home-phone {
  display: none;
  background-color: base.$primary-luna;

  .home-phone-welcome {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100vh;

    .home-phone-logos {
      display: flex;
      height: 118vh;
      justify-content: flex-end;
      flex-direction: column;
      figure {
        margin: 0;
        display: flex;
        justify-content: center;

        img {
          width: 18rem;
          padding: 1rem;
        }
      }
    }

    .wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100vh;
      .home-phone-body {
        padding: 1em 0 0;
        height: 39vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        .welcome-text {
          font-family: 'Avenir-Roman';
          font-size: calc(0.6em + 1vh);
          color: base.$primary-hermione;
          margin-bottom: 0.7rem;
        }

        .connect-followers-text {
          font-family: 'Avenir-Roman';
          font-weight: 600;
          font-size: calc(1em + 1vw);
          color: #ec552f;
          margin: 0 0 1.6em;
        }

        .btn-phone {
          width: 100%;
          height: 3.3em;
          margin-bottom: 0.8rem;
        }

        .btn-phone-logIn {
          background-color: base.$primary-harry;
          color: base.$secondary-dobby;
          border: 0.7px solid;
        }
        .btn-phone-accounts {
          background-color: base.$primary-luna;
          color: base.$primary-hermione;
          border: 0.7px solid #ec552f;
        }

        .new-user {
          font-size: calc(0.5em + 1vh);
          color: base.$primary-harry;
          font-family: 'Avenir-Roman';
          margin: 3vh 0 1vh;
          text-align: center;
          a {
            color: base.$primary-hermione;
          }
        }
      }
    }
    footer {
      display: flex;
      padding-top: 0.8em;
    }
  }
}

// Sing In phone
.container-signIn-phone {
  display: none;

  .wrapper-signIn-phone {
    height: 100vh;
    .container-signIn-logo {
      height: 27vh;
      .icon-back {
        margin-top: 0.8rem;
      }
      figure {
        margin: 0;
        display: flex;
        justify-content: center;

        img {
          width: 20rem;
          padding: 0 1rem;
        }
      }
    }
    .wrapper-contents {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 73vh;

      .wrapper-signIn-body {
        padding: 1em 0 0;
        height: 64vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .container-signIn-form {
          @extend %formPhone;
          #btnSignIn {
            background-color: base.$primary-hermione;
            border: 0.7px solid base.$primary-hermione;
            font-family: 'Avenir-Roman';
            font-size: 0.8em;
            height: 2.9em;
          }
        }
        .container-networks {
          margin-top: 0.7rem;

          .btn-open-networks {
            background-color: base.$secondary-dobby;
            color: base.$primary-harry;
            border: 0.7px solid base.$primary-harry;
            font-family: 'Avenir-Roman';
            font-size: 0.8em;
            height: 2.9em;
          }
        }
        .container-new-user {
          display: flex;
          justify-content: center;
          height: 12vh;
          align-items: flex-end;
          text-align: center;
          color: base.$primary-harry;

          .new-user {
            text-align: center;
            color: base.$primary-harry;
            font-size: calc(0.6em + 0.6vh);
            font-family: 'Avenir-Roman';
            margin: 3vh 0 1vh;
            text-align: center;

            a {
              color: base.$primary-hermione;
            }
          }
        }
      }
    }
  }
  .container-approved-registration {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px 15px 0 1px;
    bottom: 0px;
    left: 0;
    height: 13vh;

    p {
      font-size: calc(1em + 0.1vh);
      font-family: 'Avenir-Roman';
      padding: 0 15vw;
      line-height: 1.8em;
      text-align: center;
    }
  }
}

//Registro Phone
.container-phone-signUp {
  display: none;
  height: 100vh;

  .container-signUp-logo {
    height: 14vh;
    display: flex;
    margin-bottom: 1vh;

    .wrapper-top {
      display: flex;
      margin-top: 0.8rem;

      .wrap-logo-positive {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 82vw;

        figure {
          margin: 0;
          display: flex;
          justify-content: center;
          width: 43vh;

          .logo-BePositive {
            width: 18rem;
            padding: 0 1rem;
          }
        }
      }
    }
  }
  .wrapper-contents {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 85vh;
    .wrapper-body {
      padding: 1em 0 0;
      height: 78vh;
      display: flex;
      flex-direction: column;

      justify-content: space-around;

      .container-signUp-form {
        @extend %formPhone;
        .form-accept-conditions {
          color: base.$primary-hermione;
          font-size: 0.775rem;
          margin-top: 1rem;
          margin-bottom: 1.7rem;
          input {
            margin-top: 1rem;
            margin-bottom: 1.3rem;
          }
        }
        #btnSignUp {
          background-color: base.$primary-hermione;
          border: 0.7px solid base.$primary-hermione;
          font-family: 'Avenir-Roman';
          font-size: 0.8em;
          height: 2.9em;
        }

        .form-accept-conditions {
          font-family: 'Avenir-Roman';
          margin-bottom: 0.3em;
          margin-top: 0.5em;
        }
      }
      .container-enterokay {
        display: flex;
        justify-content: center;
        height: 12vh;
        align-items: flex-end;
        text-align: center;
        color: #215e99;
        color: base.$primary-harry;
        .enterokay-question {
          text-align: center;
          color: base.$primary-harry;
          font-size: calc(0.6em + 0.6vh);
          font-family: 'Avenir-Roman';
          margin: 3vh 0 1vh;
          text-align: center;
        }
        .enterokay-link {
          color: base.$primary-hermione;
        }
      }
    }
  }
}
